pip3 install adafruit-blinka
pip3 install numpy
pip3 install RPi.GPIO
pip3 install scipy
pip3 install soundfile
pip3 install wave
pip3 install pygame
pip3 install pywavelets
pip3 install matplotlib
pip3 install pywt
